<footer>
<p>
  All content &copy;&thinsp;Columbia University 2019. For questions about this site contact <a href="mailto:web@gsb.columbia.edu">Columbia Business School’s Web Project Team</a>.
</p>
</footer>
