<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>{% include "css/main.css" %}</style>
	<title>{{ title }} | CBS Web Project Blog</title>

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Social Metadata -->

	<meta property='og:title' content='{{ title }}' />
	<meta property='og:site_name' content='CBS Web Project Blog' />
	<meta property='og:url' content='https://webproject.gsb.columbia.edu{{ page.url }}' />
	<meta property='og:description' content='{{ description }}' />
	<meta property='og:type' content='article' />
	<meta property='og:locale' content='en_US' />
	
	<meta property='og:image' content='https://www8.gsb.columbia.edu/articles/projects/what-makes-a-hit/img-iaw-atypicality-meta.png' />
	<meta property='og:image:type' content='image/gif' />
	<meta property='og:image:width' content='400' />
	<meta property='og:image:height' content='400' />
	
	<meta name='twitter:card' content='summary' />
	<meta name='twitter:site' content='@columbia_biz' />
	<meta name='twitter:title' content='What Makes a Hit' />
	<meta name='twitter:description' content='When it comes to climbing the charts, research suggests that it pays to be different. From Brenda Lee to Beyoncé, here’s how the top songs stood out from the crowd.' />
	<meta name='twitter:image' content='https://www8.gsb.columbia.edu/articles/projects/what-makes-a-hit/img-iaw-atypicality-meta.png' />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96301-33"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-96301-33');
	</script>


</head>
<body class="{{ bodyClass }}" >
	<div class="container">
		<header>
			{% include "header.njk" %}
		</header>
		<div class="page-wrap">
			{{ content | safe }}
		</div>
		<footer>
			{% include "footer.njk" %}
			<script>{% include "js/scripts.js" %}</script>
		</footer>
	</div>
</body>
</html>



