* {
	box-sizing:border-box;
}

.container {
	max-width:960px;
	margin:0 auto;
	padding:1rem;
}

article {
	padding-bottom:4rem;

	p.date {
		font-size:$type-size-0;
	}

	p {
		max-width: 550px;
	}

	summary {
		position: relative;
		padding-bottom:1rem;
		cursor:pointer;

		&::-webkit-details-marker {
			position:absolute;
			top:6px;
		}

		h2 {
			font-size:$type-size-1;
			margin-bottom:0;
			padding-left:1rem;
		}

		p {
			padding-left:1rem;
		}

	}

	details {
		padding:1rem 0;
	}
}

footer {
	border-top:1px solid #e8e8e8;

	img {
		padding:1rem 0 2rem;
		max-width:250px;
	}
	p {
		font-size:$type-size-00;
	}
}

/* form styling */

form {
	max-width:550px;

	label {
		display:block;
		font-weight:700;
		font-size:$type-size-0;
	}

	input, textarea {
		width:100%;
	}

	select {
		font-family:$sans;
	}

	textarea {
		min-height:7rem;
		font-family:$sans;
		font-size:$type-size-0;
	}
}

button {
    background: $primary-color;
    border: none;
    font-family: polaris,helvetica,sans-serif;
    color: #fff;
    padding: .5rem 2rem;
    font-weight: bold;
    border-radius: 4px;

    &:hover {
    	background-color: $secondary-color;
    }

    &[type="submit"] {
    	float:right;

    	&:before {
    		content:"";
    		display:table;
    		clear:both;
    	}
    }
}