@font-face {
  font-family: "polaris";
  src: url("/fonts/Polaris-Book.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Polaris-Book.woff2") format("woff2"),
       url("/fonts/Polaris-Book.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "polaris";
  src: url("/fonts/Polaris-BookItalic.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Polaris-BookItalic.woff2") format("woff2"),
       url("/fonts/Polaris-BookItalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}


@font-face {
  font-family: "polaris";
  src: url("/fonts/Polaris-Bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/Polaris-Bold.woff2") format("woff2"),
       url("/fonts/Polaris-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "polaris";
  src: url("/images/fonts/Polaris-BoldItalic.eot?#iefix") format("embedded-opentype"),
       url("/images/fonts/Polaris-BoldItalic.woff2") format("woff2"),
       url("/images/fonts/Polaris-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

@mixin oldstyle {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

@mixin lining {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
}

$sans : polaris, helvetica, sans-serif;

$serif : copernicus,georgia,serif;

$minor-second : 1.067;

$major-second : 1.125;

$minor-third : 1.2;

$major-third : 1.25;

$perfect-fourth : 1.333;

$augmented-fourth: 1.41;
 
$perfect-fifth: 1.5;

$golden : 1.618;

$type-scale: $major-second;

$type-size-1: 1rem;

$type-size-0: $type-size-1/$type-scale;

$type-size-00: $type-size-0/$type-scale;

$type-size-000: $type-size-00/$type-scale;

$type-size-2: $type-size-1*$type-scale;

$type-size-3: $type-size-2*$type-scale;

$type-size-4: $type-size-3*$type-scale;

$type-size-5: $type-size-4*$type-scale;

$type-size-6: $type-size-5*$type-scale;

$type-size-7: $type-size-6*$type-scale;

$type-size-8: $type-size-7*$type-scale;

$type-size: 11pt;

$baseline: 1.4rem;


html {
  @include oldstyle;
	font-family:$sans;
	font-size:$type-size;
	line-height:$baseline;
}

h1 {
  font-size:$type-size-5;
  line-height:$baseline*2;
}

h2 {
  font-size:$type-size-4;
}

h3 {
  font-size:$type-size-3;
}

h4 {
  font-size:$type-size-2;
}

h5 {
  font-size:$type-size-1;
}

p:only-child, p:last-child {
  margin-bottom:0;
}

a {
  text-decoration: none;
  color:$primary-color;
}
