// Breakpoints
$bp-narrow: "(min-width: 400px)";
$bp-mid: "(min-width: 740px)";
$bp-wide: "(min-width: 1200px)";

// Colours
$primary-color: #007cba;
$second-color: #044052;
$accent: #AB2B50;
$accent-bright: #EBDB17;